streamlit==1.39.0
streamlit-authenticator==0.3.1
tensorflow-cpu==2.14.0
numpy==1.24.3
pandas==2.2.2
plotly==5.22.0
yfinance==0.2.43
scikit-learn==1.5.2
statsmodels==0.14.2
arch==6.3.1
pypfopt==1.5.5
tqdm==4.66.5
lime==0.2.0.1
PyYAML==6.0.2
psycopg2-binary==2.9.9
